.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* App.css */
body {
  background-color: rgb(248, 248, 248); /* Change this to your desired color */
  margin: 0; /* Remove default margin */
}

.card {
  background-color: white; /* Ensure the Card has a different background */
  /* Other card styles */
}
/* .bg-dark-subtle {
  background-color: rgb(45, 34, 15);
} */
